{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3><i class="material-icons">info</i> Sobre el Proyecto</h3>
            <p>Analisis de Recursos en Linux para monitoreo de CPU, RAM, Disco y Red en tiempo real.</p>
        </div>
        <div class="footer-section">
            <h3><i class="material-icons">contacts</i> Contacto</h3>
            <p><i class="material-icons">email</i> eapabon@espe.edu.ec</p>
            <p><i class="material-icons">phone</i> +593 0995473517</p>
        </div>
        <div class="footer-section">
            <h3><i class="material-icons">link</i> Enlaces Útiles</h3>
            <ul>
                <li><i class="material-icons">group</i> <a href="#">Equipo de desarrollo</a></li>
                <li><i class="material-icons">person</i> <a href="#">Información de Contacto</a></li>
                <li><i class="material-icons">code</i> <a href="#">GitHub</a></li>
            </ul>
        </div>
    </div>
    <p class="footer-copy">
        &copy; <span id="year"></span> Monitoreo de Recursos Linux | Desarrollado por <strong>ELKINEXT Solutions</strong> - I LOVE LINUX
    </p>
</footer>